*.o
*.swp
.DS_*
.vscode/settings.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.deps
build
.xmake
*.a
*.log
*.d
ffmpeg/lib/.version
ffmpeg/lib/config_components.h
ffmpeg/lib/config.h
ffmpeg/lib/doc/examples/pc-uninstalled/libavcodec-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libavformat-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libavutil-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libswresample-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libswscale-uninstalled.pc
ffmpeg/lib/ffbuild/.config
ffmpeg/lib/ffbuild/config.fate
ffmpeg/lib/ffbuild/config.mak
ffmpeg/lib/ffbuild/config.sh
ffmpeg/lib/libavcodec/bsf_list.c
ffmpeg/lib/libavcodec/codec_list.c
ffmpeg/lib/libavcodec/libavcodec.pc
ffmpeg/lib/libavcodec/libavcodec.version
ffmpeg/lib/libavcodec/parser_list.c
ffmpeg/lib/libavdevice/indev_list.c
ffmpeg/lib/libavdevice/outdev_list.c
ffmpeg/lib/libavfilter/filter_list.c
ffmpeg/lib/libavformat/demuxer_list.c
ffmpeg/lib/libavformat/libavformat.pc
ffmpeg/lib/libavformat/libavformat.version
ffmpeg/lib/libavformat/muxer_list.c
ffmpeg/lib/libavformat/protocol_list.c
ffmpeg/lib/libavutil/avconfig.h
ffmpeg/lib/libavutil/ffversion.h
ffmpeg/lib/libavutil/libavutil.pc
ffmpeg/lib/libavutil/libavutil.version
ffmpeg/lib/libswresample/libswresample.pc
ffmpeg/lib/libswresample/libswresample.version
ffmpeg/lib/libswscale/libswscale.pc
ffmpeg/lib/libswscale/libswscale.version
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/doc/config.texi
ffmpeg/lib/libavcodec/neon/mpegvideo.d
