*.o
*.swp
.DS_*
.vscode/settings.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.deps
build
.xmake
sdl2/SDL2/libSDL2.a
sdl2/SDL2_gfx/libSDL2_gfx.a
sdl2/SDL2_image/libSDL2_image.a
